---
---
@import "{{ site.theme }}";

/*
.main-content{
  h1{
color:#00ffff;
  }
}


.unordered-list {
  line-height: 100px;
  list-style: none;
  font-weight: bold;
  padding: 10px 0;

}
.list-item {
  list-style: none;
  display: inline-block;

}

footer{

    height: auto;
    padding: 0px 0;
    background-color: #595857;
    color: white;
    text-align: center;
}
ul.footer-menu li {
display: inline;
}
*/
