<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja-JP" }}">
  <head>
    


    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    
<!-- Global site tag (gtag.js) - Google Analytics -->
        <!---
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3586VD93V8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3586VD93V8');
</script>
    
--->

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
   <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <h1 class="project-name">『もじページ』</h1>
    </header>
    <main id="content" class="main-content" role="main">
      <a href="https://www.moji.page/academia">もじもじアカデミア</a> | <a href="https://www.moji.page/heya">文字たんのお部屋。</a>
      {{ content }}
      
      
      <footer class="site-footer">
    <ul class="unordered-list">
       <li class="list-item">
            <li><a href="index.html">home</a></li>　　
            <li><a href="contact.html">about</a></li>
            <li><a href="index.html">3</a></li>　　
            <li><a href="contact.html">4</a></li>　
        </ul>
        
      <!--&copy; Copyright 2020 Mojiglyph Academia <a href="https://www.moji.page/academia/about"> about </a><br>-->
        <p>&copy; Copyright 2020 <a href="https://www.moji.page/KawaneRio">@KawaneRio</a></p><br>
          <br>
          <a href="https://www.moji.page">ホームに戻る</a>
      </footer>
    </main>
    
  </body>
</html>
